<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-label for="latitudPromesas">Latitud Promesas</ion-label>
    <ion-input value="{{latitudPromesa}}" name="latitudPromesas"></ion-input>
    <ion-label for="longitudPromesas">longitud Promesa</ion-label>
    <ion-input value="{{longitudPromesa}}" name="longitudPromesas"></ion-input>
    <hr>
    <ion-label for="latitudObservables">Latitud Observables</ion-label>
    <ion-input value="{{latitudObservable}}" name="latitudObservables"></ion-input>
    <ion-label for="longitudObservables">longitud Observables</ion-label>
    <ion-input value="{{longitudObservable}}" name="longitudObservables"></ion-input>
    <br><br>
    <ion-button color="primary" (click)="geolocalizarPromesas()" expand="block">Geolocalizar Promesas</ion-button>
    <ion-button color="secondary" (click)="geolocalizarObservables()" expand="block">Geolocalizar Observables</ion-button>
  </div>
</ion-content>
